<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   <appSettings>
      <add key="JWT_SECRET" value="swaminarayanNilkanthHariGhanshyam" />
   </appSettings>
   <system.webServer>
      <handlers>
         <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
      </handlers>
      <!-- <iisnode 
         loggingEnabled ="true" 
         logDirectory="iisnode"          
      /> -->            
      <rewrite>
         <rules>
            <rule name="sendToNodeJS">
               <match url="/*" />
               <action type="Rewrite" url="index.js" />
                    <serverVariables>
                    </serverVariables>
            </rule>
         </rules>
      </rewrite>
   </system.webServer>
</configuration>
